@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
html {
  box-sizing: border-box; }
  html * {
    box-sizing: inherit;
    font-family: Montserrat; }


.wrapper {
    text-align: center;
}

.wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.wrapper li {
    float: left;
    padding: 2px 5px;
    border: 1px solid black;
}


    

body {
  margin: 0; }

img {
  outline: none; }

a {
  color: inherit; }

.container {
  max-width: 1024px;
  margin: auto; }

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 16px;
  border-radius: 0 0 4px 4px;
  background-color: #82c77c;
  text-align: center;
  font-weight: 700;
  color: #fff; }
  

.logo {
  text-align: center; }
  .logo img {
    margin-top: 6%;
    max-width: 600px; }

.keep-studying {
  text-align: center;
  font-weight: 300;
  font-size: 30px; }

.path h1 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 8px; }

.devops-path h1 {
  border-bottom: 4px solid #5a9cd2;
  color: #5a9cd2; }

.ex-path h1 {
  border-bottom: 4px solid #218f5c;
  color: #218f5c; }

.course {
  vertical-align: top;
  display: inline-block;
  width: 49%;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 2px;
  background-color: #5a9cd2;
  font-size: 14px;
  color: rgb(255, 255, 255);
  transition: all 0.3s; }
  .course:nth-child(odd) {
    margin-left: 1%; }
  .course:nth-child(even) {
    margin-right: 1%; }
  .course:hover {
    opacity: 0.8; }
  .course h2 {
    margin: 0;
    font-size: 16px; }

.devops-course {
  border-radius: 15px;
  background: linear-gradient(145deg, #60a7e1, #518cbd);
  box-shadow:  2px 2px 5px #4f89b9,
               -2px -2px 5px #65afeb;

  }

.ops-course {
  background-color: #5a9cd2;
  color: rgb(255, 255, 255); }

.dev-course {
  background-color: #5a9cd2;
  color: rgb(255, 255, 255); }


.tel h1 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 8px; }

.ex-tel h1 {
    border-bottom: 4px solid #5a9cd2;
    color: #5a9cd2; }
  
.tel-gram {

  border-radius: 15px;
  background: linear-gradient(145deg, #29ad70, #22925f);
  box-shadow:  2px 2px 5px #218f5c,
               -2px -2px 5px #2bb576
}


.header {
  
  border-radius: 0 0 4px 4px;
  background-color: #5a9cd2;
  text-align: auto;
  font-weight: 700;
  color: #fff; 
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 2px;
 
  color: #fff; 

  display: flex;
  align-items: auto ;
  justify-content: auto;
  margin-top: 0% 0%;
  margin-left: auto;
  border-radius: 0 0 44px 44px;

}


.header-menu {
  margin: 16px
  

}

.header-link{
  font-size: 20px

}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.card p {
  color: #a3a5ae;
  font-size: 16px;
}
 
.image {
  float: right;
  max-width: 128px;
  max-height: 128px;
}

.blue {
  border-left: 3px solid #5a9cd2;
}
 
.green {
  border-left: 3px solid #5a9cd2;
}
 
.red {
  border-left: 3px solid #5a9cd2;
}
/*# sourceMappingURL=main.css.map */